{% extends 'base.html' %} {% load static i18n %} {% block title %}{% trans 'Movies' %}{% endblock %} {% block content %}
<h3>{% trans 'Movies' %}</h3>
<table class="table table-striped">
  <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Genre</th>
        <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movie_list %}
    <tr>
        <td>
        <a href="{{ movie.get_absolute_url }}">{{ movie.pk }}</a>
        </td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.genre }}</td>
        <td>
            {% if movie.get_average_rating %}
                {{ movie.get_average_rating }}/5.0
            {% else %}
                No ratings
            {% endif %}
        </td>
        <td><a href="{% url 'movie:update' movie.pk %}">Edit</a></td>
        <td><a href="{% url 'movie:delete' movie.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="6"><a href="{% url 'movie:create' %}">Add new movie</a></td>
    </tr>
  </tbody>
</table>
{% endblock content %}
